<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Widget/Widget"/>
<f:section name="main">
  <div class="container">
    <div class="row">
      <f:for each="{basicChecks}" as="basicCheckResult" iteration="iteration">
        <div class="col-md-6">
          <h2>{basicCheckResult.label}</h2>
          <p>Status: {basicCheckResult.summary}</p>
          <p>Summary: {basicCheckResult.latest_run_result}</p>
          <p>Last Updated: {basicCheckResult.latest_run_ended_at}</p>

          <h4><a href="https://ohdear.app/sites/{siteId}/check/{basicCheckResult.type}/report" target="_blank">View the latest Report</a></h4>
        </div>
      </f:for>
      <f:for each="{applicationHealthResults}" as="checkResult" iteration="iteration">
        <div class="col-md-6">
          <h2>{checkResult.label}</h2>
          <p>Status: {checkResult.status}</p>
          <p>Summary: {checkResult.message}</p>
          <p>Last Updated: {checkResult.updated_at}</p>

          <h4><a href="https://ohdear.app/sites/{siteId}/check/application-health/{checkResult.id}" target="_blank">View the latest Report</a></h4>
        </div>
      </f:for>
    </div>
  </div>
</f:section>
<f:section name="footer">

</f:section>
</html>
